<template>
<div class="tree">
    <h1>Дерево прав доступа</h1>
    <section v-if="listTree.length">
         <TreeItemChild v-for="item in listTree" :key="`item-${item.id}`" :child="item" :stage="0"/>
    </section>
   <div v-else>В дереве пока пусто</div>
</div>
</template>

<script lang="ts">

import {
    Vue,
    Component
} from 'vue-property-decorator'
import {
    api
} from "@/services"

import listToTree from "@/plugins/listToTree"
// eslint-disable-next-line no-unused-vars
import {ITreeItem} from "@/types"
import TreeItemChild from "@/components/TreeItem.vue"
@Component({
    components: {
        TreeItemChild
    }
})
export default class Tree extends Vue {
    private items: ITreeItem[] = []

    private get listTree() {
        const result = listToTree(this.items, {
            idKey: "id",
            parentKey: "parentId",
            childrenKey: "children"
        });
        return result;
    }

    private async created() {
        const data: ITreeItem[] = await api.getData()
        data.map((item: ITreeItem) => {
            return {
                ...item,
                children: []
            }
        })
        this.items = data
    }
}
</script>
