<template>
<div class="tree-item" :style="`width: calc(100% - ${stageChild * 15}px)`">
    <div class="tree-item__child">
        <input :id="`input-${child.id}`" :class="{'input-indeterminate': true}" type="checkbox" @change="setChecked($event.target)" :checked="!isIndeterminate" style="margin-right: 20px">

        <span>{{child.name}}</span>

    </div>
    <template v-if="child.children.length">
        <TreeItemChild v-for="item in child.children" :key="`child-${item.id}`" :child="item" :stage="stageChild + 1" @setIndeterminate="setChildIndeterminate" />
    </template>
</div>
</template>

<script lang="ts">
import {
    Vue,
    Component,
    Prop,
    Watch,
    Emit
} from 'vue-property-decorator'
import TreeItemChild from "@/components/TreeItem.vue"
// eslint-disable-next-line no-unused-vars
import {
    // eslint-disable-next-line no-unused-vars
    ITreeItem
} from "@/types"
@Component({
    name: 'TreeItemChild',
    components: {
        TreeItemChild
    }
})
export default class TreeItem extends Vue {
    @Prop({
        default: []
    }) private readonly child!: ITreeItem

    @Prop({}) private readonly stage!: number

    private isChecked = true

    private isIndeterminate = false

    private stageChild = 0

    private created() {
        this.isChecked = this.child.checked
        this.stageChild = this.stage + 1
    }

    private setChecked(e: any) {
        this.isChecked = e.checked
        this.isIndeterminate = !e.checked

    }

    private setChildIndeterminate(val: boolean) {
        console.log(val)
        this.isIndeterminate = val
        this.isChecked = !val
    }

    @Watch("isIndeterminate")
    @Emit("setIndeterminate")
    onIndeterminateChanged(val: boolean) {
        const el: any = document.querySelector(`#input-${this.child.id}`)
        el.indeterminate = val
        return val
    }

}
</script>

<style>
.tree-item {
    padding: 10px;
    margin: 10px 0;
}

.tree-item__child {
    display: flex;
    background: yellowgreen;
    border: yellow;
    padding: 20px;
    position: relative;
}

.input-indeterminate:indeterminate {
    background: tomato;
}
</style>
